Build
Binaries
DerivedDataCache
Intermediate
Saved
Content/_GENERATED/*
Content/BlankDefault/*
Content/StarterContent/*
Content/shiza/textures/*
Content/shiza/levels/*
.vscode
.vs
.idea
.git
.user
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.user

